.container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  width: auto;
  height: auto;
  margin-top: 16px;
  gap: 16px;
  justify-content: center;

  background-color: #FFFFFF;
}
.containerCompanies {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 171px;
  height: 260px;
  transition: box-shadow 0.5s; /* Agrega una transición aquí */
}

.containerProducts:hover {
  box-shadow: 5px 5px 5px 5px rgba(46, 44, 44, 0.2); /* Aplica el sombreado directamente en hover */
  transform-origin: center;
}



.containerCompanies:hover {
  transform: scale(1.1);
  transition: 0.5s;
  color: #FDB600; 
}

.imgCompanies {
  width: 100%;
  height: 225px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
cursor: pointer;
}
.imgCompanies:hover {
  opacity: 0.8;
}

.nameCompanies {
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
  /* identical to box height */
  color: #000000;
cursor: pointer;

}
.containerCompanies:hover .nameCompanies {
  color: #FDB600;
}
