.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 48.58px;
  margin-top: 52px;
}

.button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;
  gap: 10px;
  width: 90px;
  height: 52px;
  background: #000000;
  border-radius: 8px;
  cursor: pointer;
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  margin-left: 18px;
  border: none;
  outline: none;
  color: #FFFFFF;
  margin-left: 2px;
}
.button:hover{
  background-color: #3a3a3a;
}

.buttonSignOut{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;
  gap: 10px;
  width: 90px;
  height: 52px;
  background: #FF0606;
  border-radius: 8px;
  cursor: pointer;
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  margin-left: 18px;
  color: #FFFFFF;
  border: none;
  outline: none;
  margin-left: 10px;
}
.buttonSignOut:hover{
  background-color: #e84f4f;
}
@media (min-width: 1240px) {
  .container{
    width: 550px;
    justify-content: space-between;
  }
  .button{
    width: 150px;
  }
  .buttonSignOut{
    width: 150px;
  }
}