.container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 25px;
  flex-wrap: wrap;
  padding-bottom: 75px;
  animation-duration: 3s;
  animation-name: scalein;
  transform-origin: center;
}

@keyframes scalein {
  from {
    transform: scale(0);
    opacity: 0;
  }

  to {
    transform: scale(1);
    opacity: 1;
  }
}

.containerProducts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #FFFFFF;
  transition: box-shadow 0.5s; /* Agrega una transición aquí */
  border-radius: 8px 8px 8px 8px;
}
.containerProducts:hover {
  box-shadow: 5px 5px 5px 5px rgba(46, 44, 44, 0.2); /* Aplica el sombreado directamente en hover */
  transform-origin: center;
}


.padding {
  padding-top: 50px;
}


.imgProducts {
  width: 173px;
  height: 173px;
  left: 23px;
  top: 1719px;
  border-radius: 8px 8px 8px 8px;

  transition: filter 0.3s; /* Agregar una transición para la propiedad filter */
}

.imgProducts:hover {
  cursor: pointer;
  filter: brightness(0.8); /* Cambia el color de la imagen en hover */
}

.categoryProducts {
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  margin-top: -14px;
  margin-bottom: -4px;
  color: #FDB600;
}

.nameProducts {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  /* identical to box height */
  color: #000000;
}

.descriptionProducts {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  width: 171px; /* Asegúrate de que el ancho se ajuste al de tus tarjetas */
  text-align: center;
  margin-top: -18px;
  color: #000000;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.searchContainer{
  display: flex;  
  align-items: center;
  justify-content: center;
  padding:0 0 20px;

}
.searchInput {
  padding: 8px 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  margin-bottom: 20px; /* Espacio adicional si es necesario */
  cursor: pointer;
  width: 80%;
}

.searchInput:focus {
  outline: none;
  border-color: #FDB600;
  box-shadow: 0 0 0 2px rgba(68, 147, 254, 0.2);
}
@media (min-width: 1240px) {
  .categoryProducts {
    color: #4493FE;
  }
  .searchInput:focus {
    outline: none;

    border-color: #4493FE;

  }
}

.wspButton {
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;
  gap: 10px;
  width: -webkit-fill-available;
  height: 43px;
  margin-top: -10px;
  background: #000000;
  border-radius: 0px 0px 8px 8px;
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  margin-top: 6px;
  color: #FFFFFF;
  cursor: pointer;
  border: none;
  outline: none;
  transition: filter 0.3s;
}


.wspButton:hover {
cursor: pointer;
filter: brightness(0.5); /* Cambia el color de la imagen en hover */
}