.container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 25px;
  flex-wrap: wrap;
  padding-bottom: 75px;
  animation-duration: 3s;
  animation-name: scalein;
  transform-origin: center;
}

@keyframes scalein {
  from {
    transform: scale(0);
    opacity: 0;
  }

  to {
    transform: scale(1);
    opacity: 1;
  }
}

.containerProducts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  padding-bottom: 10px;
  background-color: #FFFFFF;
  transition: box-shadow 0.5s; /* Agrega una transición aquí */
  border-radius: 8px 8px 0px 0px;
}

.containerProducts:hover {
  box-shadow: 5px 5px 5px 5px rgba(46, 44, 44, 0.2); /* Aplica el sombreado directamente en hover */
  transform-origin: center;
}


.padding {
  padding-top: 50px;
}


.imgProducts {
  width: 173px;
  height: 173px;
  left: 23px;
  top: 1719px;
  border-radius: 8px 8px 0px 0px;

  transition: filter 0.3s; /* Agregar una transición para la propiedad filter */
}

.imgProducts:hover {
  cursor: pointer;
  filter: brightness(0.8); /* Cambia el color de la imagen en hover */
}

.categoryProducts {
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  margin-top: -14px;
  margin-bottom: -4px;
  color: #FDB600;
}

.nameProducts {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  /* identical to box height */
  color: #000000;
}

.descriptionProducts {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  /* identical to box height */
  width: 171px;
  text-align: center;
  margin-top: -18px;
  color: #000000;
}

@media (min-width: 1240px) {
  .categoryProducts {
    color: #4493FE;
  }
}

.wspButton {
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;
  gap: 10px;
  width: -webkit-fill-available;
  height: 43px;
  margin-top: -10px;
  background: #000000;
  border-radius: 0px 0px 8px 8px;
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  margin-top: 6px;
  color: #FFFFFF;
  cursor: pointer;
  border: none;
  outline: none;
  transition: filter 0.3s;
}


.wspButton:hover {
cursor: pointer;
filter: brightness(0.5); /* Cambia el color de la imagen en hover */
}